VITE_SUPABASE_URL=https://plakcoavxieaobswlqca.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBsYWtjb2F2eGllYW9ic3dscWNhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA3NTM4MDAsImV4cCI6MjEwNjMyOTgwMH0.DOTNayfB1B0qfogBQP3umSrH2Jt0L9IfuDXm4TQW8Vw
